
<!doctype html>
<html lang="en" ng-app="uiApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Códigos de pulos">
    <meta name="keywords" content="game, show, game show, dinheiro, quize, quize app, app"/>    
    <title>JSpank</title>
    <style>
    .jaUtilizado{ 
        text-decoration:line-through;        
     }

        .teg-1
        {
            font-size: 12px; 
            color:#FF0000;
        }
        .teg-2
        {
            font-size: 15px; 
            color: #000000;
        }
        .teg-3
        {
            font-size: 17px; 
            color: #CCCCCC;
        }
        .teg-4
        {
            font-size: 19px; 
            color: #000000;
        }
        .teg-5
        {
            font-size: 21px; 
            color: #999999;
        }
        .teg-6
        {
            font-size: 23px; 
            color: #FF0000;
        }
        .teg-7
        {
            font-size: 30px; 
            color: #000000;
        }

        #tegcloud a{
            padding:5px;
        }
                </style>
    <body>
    <div ng-controller="appController" ng-cloak>
    <main role="main">
      <section class="jumbotron">
        <div class="container">
                <div id="tegcloud">
                        <a  href="quizeapp://cod/{{item.text}}" data-code="{{item.text}}" title="{{item.text}}" target="_blank" ng-repeat="item in itens track by $index" ng-class="{'jaUtilizado':hasAdd(item)}" class="{{item.cssClass}}" ng-click="remove(item)">{{item.text}}</a>
                </div>
         </div>
      </section>
    </main> 
    <footer class="text-muted"> 
      <div class="container">
            <hr>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <i>Ⓡ2018, <a href="https://twitter.com/fabiueduardu" target="_blank">JSpank</a></i>
     </div>
    </footer>
</div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">  </head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script>
        var loadStorageKey = 'qzItens';
        var dbName = 'db.txt';
        var cssClassCloud = ['teg-1', 'teg-2', 'teg-3', 'teg-4', 'teg-5', 'teg-6', 'teg-7'];
        var app =  angular.module('uiApp', []);
        var getElement = function(value){
                   return  {text: value, cssClass: cssClassCloud[~~(Math.random()*cssClassCloud.length)]};
            };
       
        app.config(['$compileProvider',
            function( $compileProvider )
            {   
                $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|chrome-extension|quizeapp):/);
             }
        ]);

      app.controller('appController', ['$scope','$http',function( $scope,$http) {
                $scope.itens = [];
                $http.get(dbName).then( function(response){
                    var itens = response.data.split('\n');
                    $(itens).each(function(i, tag){
                        $scope.itens.push(getElement(tag));
                    });

                }, function(data){alert('error: '+JSON.stringify(response));});

               var hashValue = location.hash;
               if(hashValue){
                 $(hashValue.substring(1).split(';')).each(function(i, value){
                    $scope.itens.push(getElement(value.toUpperCase()));
                 });
               } 

               

                $scope.remove = function(value){
                    $('[data-code="'+value.text+'"]').addClass('jaUtilizado');
                    localStorageItem.add(value.text);
                }

                $scope.hasAdd = function(value){
                  return localStorageItem.has(value.text);
                }
   
                var  localStorageItem = {
                    has:function(value){
                        var localStorageValue = localStorage.getItem(loadStorageKey)||'';       
                        return localStorageValue.indexOf(value)!=-1;
                    },add:function(value){
                        var localStorageValue = localStorage.getItem(loadStorageKey)||'';      
                        localStorageValue+=';'+value; 
                        localStorage.setItem(loadStorageKey,localStorageValue);
                    }
                }

              $scope.tryAll = function(){
                   $(itens).each(function(i, item){ 
                    var appUrl = 'quizeapp://cod/'+item;
                    console.log('try: '+appUrl);
                    try{

                        $.ajax({
                            url: appUrl,
                                type: 'GET',
                                success: function(data){ 
                                    $('[data-code="'+item+'"]').remove();
                                },
                                error: function(data) {
                                     throw data;
                                }
                            }); 
              
                       }catch(error){
                        console.log('error: ');
                        console.log(error);
                       }
                    });
                }
                
            }]);
     </script>
  </body>
</html>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76968512-2"></script>
   <script>
       window.dataLayer = window.dataLayer || [];
       function gtag() { dataLayer.push(arguments); }
       gtag('js', new Date());

       gtag('config', 'UA-76968512-2');
   </script>